$parent: ".menu-item";
$scale: scale(1.05);

.vhs-effect {
  &:hover {
    cursor: pointer;
    .background-image {
      transform: $scale;
      &.r,
      &.b,
      &.g {
        transform: $scale;
        opacity: 1;
      }
      &.r {
        transform: translate(3px, 4px) $scale;
      }
      &.b {
        transform: translate(-2px, -2px) $scale;
      }
    }
  }
}

.background-image {
  object-fit: cover;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.5s;
  &.r,
  &.g,
  &.b {
    position: absolute;
    opacity: 0;
  }
  &.r,
  &.g {
    mix-blend-mode: screen;
    z-index: 1;
    transform: translate(0);
  }
  &.r {
    filter: url("#r");
  }
  &.g {
    filter: url("#g");
  }
  &.b {
    filter: url("#b");
  }
}
