$parent: ".menu-item";

.vhs-effect {
  &:hover {
    cursor: pointer;
    .background-image {
      transform: scale(1.05);
      &.r,
      &.b,
      &.g {
        transform: scale(1.05);
      }
      &.r {
        transform: translate(3px, 4px) scale(1.05);
      }
      &.b {
        transform: translate(-2px, -2px) scale(1.05);
      }
    }
  }
}

.background-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.5s;
  &.r,
  &.g,
  &.b {
    position: absolute;
  }
  &.r,
  &.g {
    mix-blend-mode: screen;
    z-index: 1;
    transform: translate(0);
  }
  &.r {
    filter: url("#r");
  }
  &.g {
    filter: url("#g");
  }
  &.b {
    filter: url("#b");
  }
}
