.parent-wrapper {
    width: 25%;
    position: relative;
  .checkout-total {
    margin-top: 90px;
    height: 130px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .total-price {
      font-size: 25px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
