.shopping-cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 100px;
  right: 0px;
  z-index: 5;
  .title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
  }
  .shopping-cart-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 240px;
    .cart-items-wrapper {
      overflow: scroll;
      display: flex;
      flex-direction: column;
      height: 240px;
      width: 100%;
    }
    .empty-message {
      text-align: center;
    }
  }
  .btn-group {
    display: flex;
    justify-content: space-between;
    .btn {
      width: 49%;
      min-width: 49% !important;
      font-size: 12px;
      padding: 10px;
      height: 40px;
    }
  }
}
