$color: #38f5dc;

.footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 120px;
  margin-top: 30px;
  bottom: 0;
  left: 0;
  padding: 20px;
  display: grid;
  place-items: center;
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: white;
    transition: 0.2s;
  }
  a:hover {
    color: $color;
  }
  .title {
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    a:link, a:visited, a:active {
        text-decoration: underline;
    }
  }
  .socialmedia {
    display: flex;
    width: 320px;
    justify-content: space-between;
    .link {
      position: relative;
      letter-spacing: 2px;
      font-size: 13px;
      text-transform: uppercase;
      &:after {
        content: "";
        position: absolute;
        width: 0;
        bottom: -3px;
        height: 1px;
        background-color: $color;
        transition: 0.3s;
        right: 2px;
      }
      &:hover {
        &:after {
          width: calc(100% - 2px);
          left: 0;
        }
      }
    }
    a:active,
    a:visited {
      color: white;
    }
    a:hover {
      color: $color;
    }
  }
}
