$main-color: black;
$sub-color: gray;

@mixin shrink-label {
  top: -17px;
  font-size: 15px;
  color: $main-color;
}

.input-group {
  position: relative;
  margin: 45px 0;
  .form-input {
    font-family: "Barlow Condensed", sans-serif;
    background: none;
    color: $sub-color;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    position: relative;
    padding: 10px;
    padding-left: 0;
    border-radius: 0;
    &:focus {
      outline: none;
    }
    &:focus ~ .form-input-label {
      @include shrink-label();
    }
  }
  input[type="password"] {
    letter-spacing: 0.3em;
  }
  .form-input-label {
    color: $sub-color;
    position: absolute;
    pointer-events: none;
    font-size: 20px;
    top: calc(50% - 10px);
    transition: ease 0.5s;
    text-transform: capitalize;
    &.shrink {
      @include shrink-label();
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $main-color;
    left: 0;
    bottom: -4px;
  }
}
