.preview-collection {
    margin-top: 50px;
    position: relative;
    .title {
        text-transform: uppercase;
        font-size: 45px;
        font-weight: lighter;
        color: black;
        margin: 0;
        padding: 0;
    }
    .preview {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 1;
    }
}