.preview-collection {
    margin-top: 120px;
    position: relative;
    .title {
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: -2px;
        text-transform: uppercase;
        font-size: 100px;
        color: transparent;
        -webkit-text-stroke: 2px #b5c3c7;
        margin-top: 20px;
        margin-bottom: -47px;
        margin-left: 5px;
        pointer-events: none;
        position: absolute;
        top: -100px;
    }
    .preview {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 1;
    }
}