$red: #fe346e;

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

:root {
  overflow-y: scroll;
  ::-webkit-scrollbar {
    position: absolute;
    display: inline-block;
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  body {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    overflow-x: hidden !important;
    .wrapper {
      width: 100vw;
      display: grid;
      place-items: center;
      .container {
        position: relative;
        width: 90vw;
        min-height: 100vh;
      }
    }
  }
}
