@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  @include center-flex();
  min-width: 30%;
  height: 240px;
  flex: 1;
  margin: 5px;
  overflow: hidden;
  position: relative;
  background-color: black;
  @media screen and (max-width: 600px) {
    min-width: 100%;
  }
  &:hover {
    cursor: pointer;
    .content {
      opacity: 0.9;
      transition: opacity ease 0.3s;
      .subtitle:after {
        left: 0;
        width: 100%;
        transition: ease 0.7s;
      }
    }
  }
  &.large {
    height: 380px;
  }
  .content {
    @include center-flex();
    flex-direction: column;
    padding: 25px;
    position: relative;
    z-index: 2;
    pointer-events: none;
    background-color: white;
    opacity: 0.7;
    transition: ease 0.3s;
    text-transform: uppercase;
    .title {
      font-family: "Roboto Condensed", sans-serif;
      font-style: italic;
      font-weight: 700;
      letter-spacing: -1px;
      margin: 0;
      margin-bottom: 2px;
      font-size: 22px;
    }
    .subtitle {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 1.5px;
        background-color: black;
        left: 50%;
        bottom: -5px;
        vertical-align: middle;
        transition: ease 0.4s;
        margin: auto;
      }
    }
  }
}
