.collection {
  display: flex;
  flex-direction: column;
  .collection-header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 5px;

    .displaying {
      text-transform: uppercase;
    }
    .filter {
      .dropdown {
        padding: 2px;
        font-size: 12px;
      }
    }
  }
  .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 350px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}
