.collection {
    display: flex;
    flex-direction: column;
    .collection-header {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        margin-top: 5px;

        .displaying {
            text-transform: uppercase;
        }
        .filter {
            margin-right: 15px;
            .dropdown {
                padding: 2px;
                font-size: 12px;
            }
        }
    }
    .items {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }
}