.collection {
    display: flex;
    flex-direction: column;
    .items {
        margin-top: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }
}