.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .url-path {
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 10px;
    .path {
      margin: 10px;
      position: relative;
      &.active {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      &:after {
        content: "/";
        position: absolute;
        right: -13px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .main-title {
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: -50px;
    &::after {
      content: "";
      position: absolute;
      width: 50% !important;
      height: 4px;
      background-color: black;
      bottom: -15px;
    }
  }
}
